package-lock = false
always-auth=true
registry=https://npm-proxy.fury.io/themuse/
//npm-proxy.fury.io/themuse/:_authToken=${GEMFURY_TOKEN}
@themuse:registry=https://npm.fury.io/themuse/
//npm.fury.io/themuse/:_authToken=${GEMFURY_TOKEN} 
